<footer class="bg-dark">
  <table class="foot-table">
    <tr>
        <td class="footer-left">
            &copy;2020 Rebecca Buechle
        </td>
        <td class="footer-right">
            <a href="list.ejs">Current Employees</a> | 
            <a href="new.ejs">New Employee</a> | 
            <a href="view.ejs">Search Employees</a>
        </td>
    </tr>
  </table>
</footer>
</body>

</html>

<%- include('scripts') -%>