<!--/*
============================================
; Title: EMS Database With Mongo
; Author: Peter Itskovich / Becca Buechle 
; Date: 24 May 2020
; Modified By: Becca Buechle 
; Description: EMS Database With Mongo
;===========================================
*/-->

<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!--My CSS-->
  <link rel="stylesheet" href="style/style.css">
  
  <title>EMS - User Interface Development - Buechle</title>

  
</head>

<body>
