
<%- include('header') %>
<%- include('navbar') %>

<div role="main" class="container">

    <br/><br/>

    <img class="birthday" src="images/birthday.jpg" alt="Birthday Dog">

</div>

<%- include('footer') %>
