<!--/*
============================================
; Title: EMS Database With Mongo
; Author: Peter Itskovich / Becca Buechle 
; Date: 24 May 2020
; Modified By: Becca Buechle 
; Description: EMS Database With Mongo
;===========================================
*/-->


<%- include('header') -%>
<%- include('navbar') -%>

<!--Dog Pic-->
<div class="birthday" alt="Birthday Dog">

    <!--Ordering Form-->
  <form class="form" action="/action_page.php">
    <h2>Ordering Form</h2>
    <label for="fname">First Name:</label><br>
    <input type="text" id="fname" name="fname" value="John"><br>

    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" value="Doe"><br><br>

    <p>Select Treato Type:</p>
    <div>
      <input type="radio" id="cake" name="cake" value="cake" checked>
      <label for="cake">Cake</label>
    </div>

    <div>
      <input type="radio" id="cupcake" name="cupcake" value="cupcake">
      <label for="cupcake">Cupcakes</label>
    </div>
    </br>
    <input type="submit" value="Submit">
  </form>

</div>


<%- include('footer') -%>