<!--/*
============================================
; Title: EMS Database With Mongo
; Author: Peter Itskovich / Becca Buechle 
; Date: 24 May 2020
; Modified By: Becca Buechle 
; Description: EMS Database With Mongo
;===========================================
*/-->

<%- include("header") -%>

<!--Nav Bar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a href="/" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">Contact</a>
      </li>
    </ul>
  </nav>